* {
    box-sizing: border-box;
  }
  
  body {
    background-image: url("/Group4/Image/background1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;	
  }
  
  #stepForm {
    background-color: #ffffff;
    margin: 50px auto 200px;
    padding: 20px;
    max-width: 1000px;
    min-width: 300px;
  }
  
  .center {
    text-align: center;  
  }
  .mb-3 {
    margin-bottom: 40px;
  }
  
  input, select {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  button {
    background-color: #175cff;
    color: #ffffff;
    border: none;
    border-radius: .3em;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #175cff;
  }
  .prevnext {
    overflow:auto;
  }
  .floatorder {
    float:right;
  }
  .stepalign {
    text-align:center;margin-top:40px;
  }