.navbar-light .navbar-nav .nav-link {
    color: #000;
}
body{
    background-image: url("/Group4/Image/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header_text{
    font-family: 'Dancing Script', cursive;
    margin-top: 13px;
    margin-left: 50px;
    font-weight: bold;
}
.box-wrap{
display:flex;
align-items:center;
justify-content:center;
margin:10%;

}
.box{
    opacity: 0.8;
padding:30px;
margin:2%;
background:white;
height: 400px;
width:350px;
border:1px solid #d6d6d6;
box-shadow: 5px 10px 8px #888888;
border-radius:3px;
transition:.2s all; 
}
.box-wrap:hover .box{
filter:blur(3px);
opacity:.5;
transform: scale(.98);
box-shadow:none;
}
.box-wrap:hover .box:hover{
transform:scale(1);
filter:blur(0px);
opacity:1;
box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

.textbox{
padding: 4px;
font-size: 30px;
text-align: center;
}
#img{
    height: 300px;
    width:300px;
}
button{
    border: none;
outline: none;
background: none;
}
.lbtn{
    margin-right: 5em;
}
.sbtn{
    margin-left: 5em;
}
